html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; 
  font-size:14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline-width: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

img {
  border-style: none; }

button,
input,
select,
textarea {
  font: inherit; }

button,
input,
select {
  overflow: visible; }

button,
input,
select,
textarea {
  margin: 0; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

[disabled] {
  cursor: default; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-ms-viewport {
  width: device-width; }

html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }


[tabindex="-1"]:focus {
  outline: none !important; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

a {
  color: #0275d8;
  text-decoration: none; }

a:focus, a:hover {
  color: #014c8c;
  text-decoration: underline; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: none; }

img {
  vertical-align: middle; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0; }



[hidden] {
  display: none !important; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container::after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 544px) {
  .container {
    max-width: 576px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 940px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1 {
  float: left;
  width: 8.33333%; }

.col-xs-2 {
  float: left;
  width: 16.66667%; }

.col-xs-3 {
  float: left;
  width: 25%; }

.col-xs-4 {
  float: left;
  width: 33.33333%; }

.col-xs-5 {
  float: left;
  width: 41.66667%; }

.col-xs-6 {
  float: left;
  width: 50%; }

.col-xs-7 {
  float: left;
  width: 58.33333%; }

.col-xs-8 {
  float: left;
  width: 66.66667%; }

.col-xs-9 {
  float: left;
  width: 75%; }

.col-xs-10 {
  float: left;
  width: 83.33333%; }

.col-xs-11 {
  float: left;
  width: 91.66667%; }

.col-xs-12 {
  float: left;
  width: 100%; }

@media (min-width: 544px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%; }
  .col-sm-2 {
    float: left;
    width: 16.66667%; }
  .col-sm-3 {
    float: left;
    width: 25%; }
  .col-sm-4 {
    float: left;
    width: 33.33333%; }
  .col-sm-5 {
    float: left;
    width: 41.66667%; }
  .col-sm-6 {
    float: left;
    width: 50%; }
  .col-sm-7 {
    float: left;
    width: 58.33333%; }
  .col-sm-8 {
    float: left;
    width: 66.66667%; }
  .col-sm-9 {
    float: left;
    width: 75%; }
  .col-sm-10 {
    float: left;
    width: 83.33333%; }
  .col-sm-11 {
    float: left;
    width: 91.66667%; }
  .col-sm-12 {
    float: left;
    width: 100%; } }

@media (min-width: 768px) {
  .col-md-1 {
    float: left;
    width: 8.33333%; }
  .col-md-2 {
    float: left;
    width: 16.66667%; }
  .col-md-3 {
    float: left;
    width: 25%; }
  .col-md-4 {
    float: left;
    width: 33.33333%; }
  .col-md-5 {
    float: left;
    width: 41.66667%; }
  .col-md-6 {
    float: left;
    width: 50%; }
  .col-md-7 {
    float: left;
    width: 58.33333%; }
  .col-md-8 {
    float: left;
    width: 66.66667%; }
  .col-md-9 {
    float: left;
    width: 75%; }
  .col-md-10 {
    float: left;
    width: 83.33333%; }
  .col-md-11 {
    float: left;
    width: 91.66667%; }
  .col-md-12 {
    float: left;
    width: 100%; } }

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }

.form-control::-ms-expand {
  background-color: transparent;
  border: 0; }

.form-control:focus {
  color: #55595c;
  background-color: #fff;
  border-color: #66afe9;
  outline: none; }


.form-group {
  margin-bottom: 1rem; }



.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem; }

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:focus, .btn:hover {
  text-decoration: none; }

.btn.focus {
  text-decoration: none; }

.btn:active, .btn.active {
  background-image: none;
  outline: 0; }

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: .65; }

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none; }

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8; }

.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b; }

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b; }

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
  background-image: none; }

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #014682;
  border-color: #01315a; }

.btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary:disabled:focus, .btn-primary:disabled.focus {
  background-color: #0275d8;
  border-color: #0275d8; }

.btn-primary.disabled:hover, .btn-primary:disabled:hover {
  background-color: #0275d8;
  border-color: #0275d8; }

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de; }

.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #2aabd2; }

.btn-info:focus, .btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #2aabd2; }

.btn-info:active, .btn-info.active,
.open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #31b0d5;
  border-color: #2aabd2;
  background-image: none; }

.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus,
.open > .btn-info.dropdown-toggle:hover,
.open > .btn-info.dropdown-toggle:focus,
.open > .btn-info.dropdown-toggle.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1f7e9a; }

.btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info:disabled:focus, .btn-info:disabled.focus {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.btn-info.disabled:hover, .btn-info:disabled:hover {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c; }

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641; }

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #419641; }

.btn-success:active, .btn-success.active,
.open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
  background-image: none; }

.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus,
.open > .btn-success.dropdown-toggle:hover,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle.focus {
  color: #fff;
  background-color: #398439;
  border-color: #2d672d; }

.btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success:disabled:focus, .btn-success:disabled.focus {
  background-color: #5cb85c;
  border-color: #5cb85c; }

.btn-success.disabled:hover, .btn-success:disabled:hover {
  background-color: #5cb85c;
  border-color: #5cb85c; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }


.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.navbar {
  position: relative;
  padding: 0.5rem 1rem; }

.navbar::after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 544px) {
  .navbar {
    border-radius: 0.25rem; } }

.navbar-brand {
  float: left;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  font-size: 1.25rem; }

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none; }

.navbar-toggler {
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: none;
  border: 1px solid transparent;
  border-radius: 0.25rem; }

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none; }

.navbar-nav .nav-item {
  float: left; }

.navbar-nav .nav-link {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem; }

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.8); }

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: rgba(0, 0, 0, 0.8); }

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.3); }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.6); 
  text-decoration:none;
}

.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .open > .nav-link:focus, .navbar-light .navbar-nav .open > .nav-link:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .active > .nav-link:focus,
.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.open:focus,
.navbar-light .navbar-nav .nav-link.open:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:focus,
.navbar-light .navbar-nav .nav-link.active:hover {
  color: rgba(0, 0, 0, 0.8); }

.navbar-toggleable-xs::after {
  content: "";
  display: table;
  clear: both; }

@media (max-width: 543px) {
  .navbar-toggleable-xs .navbar-nav .nav-item {
    float: none;
    margin-left: 0; } }

@media (min-width: 544px) {
  .navbar-toggleable-xs {
    display: block !important; } }

.card {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125); }

.card-block {
  padding: 1.25rem; }

.card-block::after {
  content: "";
  display: table;
  clear: both; }

.card-text:last-child {
  margin-bottom: 0; }

.card-header {
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.card-header::after {
  content: "";
  display: table;
  clear: both; }

.card-header:first-child {
  border-radius: 0.25rem 0.25rem 0 0; }

.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem; }

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d; }

.alert-success hr {
  border-top-color: #c1e2b3; }

.alert-success .alert-link {
  color: #2b542c; }

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442; }

.alert-danger hr {
  border-top-color: #e4b9b9; }

.alert-danger .alert-link {
  color: #843534; }

.pull-xs-left {
  float: left !important; }

.pull-xs-right {
  float: right !important; }

.pull-xs-none {
  float: none !important; }

@media (min-width: 544px) {
  .pull-sm-left {
    float: left !important; }
  .pull-sm-right {
    float: right !important; }
  .pull-sm-none {
    float: none !important; } }

@media (min-width: 768px) {
  .pull-md-left {
    float: left !important; }
  .pull-md-right {
    float: right !important; }
  .pull-md-none {
    float: none !important; } }

.hidden-xs-up {
  display: none !important; }

@media (min-width: 544px) {
  .hidden-sm-up {
    display: none !important; } }












































#exCollapsingNavbar2{
    display:none;
}

#menucheckbox:checked ~ #exCollapsingNavbar2{
    display:block;
}

.news-title{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#spiner{
    width: 24px;
    margin-right: 10px;
}

.col-md-custom-4{
    display: inline-block;
    width: 33.08%;
    vertical-align: top;
    float: none;
    padding: 0px 5px;
}
.card-block {
    min-height: 102px;
    padding: 5px 10px;
}

.card-header {
    min-height: 53px;
    padding: 5px 10px;
}
.text-muted{
    opacity: 0.6;
    font-weight: bold;
}
.text-center{
    text-align: center;
}
#contentbody{
    padding: 0 15px;
}

@media (max-width: 768px){
    .col-md-custom-4{
        width:100%;
    }
}

/*OK MESSAGE*/

#okmessage, #errormessage{
    position:absolute;
    top:-100px;
    width: 100%;
    text-align: center;
    -webkit-transition: all ease-out 2s;
    -moz-transition: all ease-out 2s;
    -o-transition: all ease-out 2s;
    transition: all ease-out 2s;
    .alert{
        height: 62px;
        margin: 0 auto;
        float: none;
    }
    &.show-message{
        top:0px;
    }
} 

/*MODAL WINDOW*/ 

.button-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAowAAAKMB8MeazgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB5SURBVDiNrZPRCcAwCEQfnUiySAZuF8kSWeH6Yz8KrQZMQAicJ+epAB0YwAmYJKIADLic0/GPPCbQAnLznCd/4NWUFfkgy1VjH8CryA95ApYltAiTRCZxpuoW+gz9WXE6NPeg+ra1UDIxGlWEObe4SGxY5fIxlc75Bkt9V4JS7KWJAAAAAElFTkSuQmCC59ef34356faa7edebc7ed5432ddb673d');
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  padding: 20px 30px;
  max-width:600px;
  position: relative;
  margin: 5% auto 0;
  background: #fff;
}