@using Novini.Models
@using Novini.Extensions
@model List<NewsModel>

@{
    ViewData["Title"] = "Home Page";
}

<div id="contentbody">
    @{Html.RenderPartial("MoreNews", Model);}

    <input type="hidden" id="elementsOnPage" value="9" />
</div>

<div class="col-xs-12">
    <button class="btn btn-info col-xs-12" id="moreNewsButton"><img src="/spin.gif" id="spiner" class="hidden-xs-up"/>Попередні новини</button>
    <br /><br />
</div>