@using Novini.Models
@using Novini.Extensions
@model List<NewsModel>

@{
    ViewData["Title"] = "Home Page";
}

<div id="contentbody">
    @if (User.Identity.IsAuthenticated)
    {
        Html.RenderPartial("MoreNewsAdmin", Model);
    }
    else
    {
        Html.RenderPartial("MoreNews", Model);
    }
</div>

<input type="hidden" id="elementsOnPage" value="12" />

<div class="col-xs-12">
    @if (User.Identity.IsAuthenticated)
    {
        <button class="btn btn-info col-xs-12" id="moreNewsButtonAdmin"><img src="/spin.gif" id="spiner" class="hidden-xs-up" />Попередні новини</button>
    }
    else
    {
        <button class="btn btn-info col-xs-12" id="moreNewsButton"><img src="/spin.gif" id="spiner" class="hidden-xs-up" />Попередні новини</button>
    }
    <br /><br />
</div>