@using Novini.Models
@using Novini.Extensions
@model List<NewsModel>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <a href="@item.Url" class="news-title" target="_blank">@item.Title</a>
            </div>
            <div class="card-block">
                <label class="text-muted">@item.Url.GetDomain()</label>
                <p class="card-text">@item.Content</p>
            </div>
        </div>
    </div>
}