@using Novini.Models
@using Novini.Extensions
@model List<NewsModel>

@using (Html.BeginForm("UpdateNews", "Home", FormMethod.Post))
{
    <div id="admin-news-form">
        @Html.EditorFor(model => model);
    </div>
    <div class="col-md-12 text-center">
        <input type="submit" class="btn btn-primary" value="Зберегти">
        <br /><br />
    </div> 
}